{% extends 'base.html.twig' %}

{% block content %}
{% if is_granted('ROLE_USER') %}
    <ul>
        <li><a href="{{ path('user_list') }}">Lista użytkowników</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Dodaj użytkownika</a></li>
    </ul>
{% endif %}
{% endblock %}

