{% trans_default_domain 'FOSUserBundle' %}

{% extends "base.html.twig" %}

{% block content %}
    <div>
        <a href="{{ path('user_list') }}">Lista użytkowników</a>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'form.save'|trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock content %}

