{% trans_default_domain 'FOSUserBundle' %}

{% extends "base.html.twig" %}

{% block content %}
    <div>
        <a href="{{ path('fos_user_registration_register') }}">Dodaj użytkownika</a>
    </div>
    <table>
        <thead>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Adres</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.address %}{{ user.address.street }} , {{ user.address.zipCode }} {{ user.address.city }}{% else %}Nie podano{% endif %}</td>
                    <td><a href="{{ path('edit_user', {'id': user.id} ) }}">Edytuj</a></td>
                    <td><a href="{{ path('delete_user', {'id': user.id} ) }}">Usuń</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}